* {
    font-family: Verdana, DejaVu San, sans-serif;
}
div, p {
    color: white;
}

div {
    background-color: red;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}
p {
    background-color: green;
    font-size: 18px;;
}
button {
    background-color: orange;
    font-size: 18px;
}

ul {
    color: blue;
    font-size: 36px;

}
ol {
    font-size: 24px;
}
li {
    font-size: 24px;
}

.button_test{
    background-color: white;
    border-color: black;
}
.Click_Me{
    background-color: black;
    background-origin: padding-box;
}
.No_Click_Me{
    background-color: yellow;
    color: black;
}